<div>
  <div class="image-stat-container">
    <div class="image-container">
      <img [src]="url">
    </div>
    <div class="stats">
      <div class="descriptive">
        <p>Age Range:</p>
        <p>
          {{stats?.AgeRange.Low}} - {{stats.AgeRange.High}}
        </p>
      </div>
      <div class="descriptive">
        <p>Gender:</p>
        <p>
          {{stats?.Gender.Value}}
        </p>
      </div>
      <div class="descriptive">
        <p>Smile:</p>
        <p>
          {{stats?.Smile.Value}}
        </p>
      </div>
      <div class="descriptive">
        <p>Eyeglasses: </p>
        <p>
          {{stats.Eyeglasses.Value}}
        </p>
      </div>
      <div class="descriptive">
        <p>Sunglasses:</p>
        <p>
          {{stats.Sunglasses.Value}}
        </p>
      </div>
      <div class="descriptive">
        <p>Beard:</p>
        <p>
          {{stats.Beard.Value}}
        </p>
      </div>
    </div>
  </div>
</div>
